{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-transform-runtime"],
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "~controller": "./src/controller",
                    "~model": "./src/model",
                    "~route": "./src/route",
                    "~config": "./src/config",
                    "~middleware": "./src/middleware"
                }
            }
        ]
    ]
}
